body {
	color: var(--text-color);
	font-family: var(--main-font);
	background-color: var(--back-color-1);
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

#wrapper {
	min-height: 100vh;
}

#floats {
	position: absolute;
	left: 0;
	top: 0;
}

#burger {
	border-radius: 6px;
	cursor: pointer;
	height: 41px;
	position: relative;
	width: 42px;

	i {
		background-color: var(--text-color);
		display: block;
		height: 2px;
		left: 8px;
		position: absolute;
		width: 27px;

		&:nth-child(1) {
			top: 12px;
		}
		&:nth-child(2) {
			top: 20px;
		}
		&:nth-child(3) {
			top: 28px;
		}
	}
}

.line {
	margin: 3.1rem 0;
	border-top: 1px solid var(--text-color);
	&-spaced {
		margin: 5rem 0;
	}
	@include md {
		margin: 2.8rem 0;
	}
	@include sm {
		margin: 2.4rem 0;
	}
	@include xs {
		margin: 1.8rem 0;
	}
}

.title {
	font-size: 36px;
	font-weight: 400;
	margin: 3rem 0;
	text-align: center;
	@include md {
		font-size: 32px;
		margin: 2.6rem 0;
	}
	@include sm {
		font-size: 28px;
		margin: 2.2rem 0;
	}
	@include xs {
		font-size: 24px;
		margin: 1.8rem 0;
	}
	@include xxs {
		font-size: 20px;
		margin: 1.2rem 0;
	}
}

.header {
	align-items: center;
	background-color: var(--back-color);
	display: flex;
	flex-direction: column;
	height: var(--header-height);
	justify-content: center;
	position: relative;

	> .container {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		z-index: 2;
		position: relative;
		@include sm {
			gap: 2rem;
		}
		@include xxs {
			gap: 1rem;
		}
	}

	&__logo {
		align-items: center;
		display: flex;
		font-family: var(--accent-font);
		font-size: 24px;
		gap: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.016em;

		@include md {
			font-size: 16px;
		}
		@include sm {
			font-size: 12px;
			max-width: 180px;
		}
		@include xs {
			font-size: 12px;
			max-width: 180px;
			gap: .8rem;
		}
		@include xxs {
			font-size: 11px;
		}
		.site-logo {
			width: 100px;
			@include md {
				width: 52px;
			}
			@include sm {
				width: 42px;
			}
			@include xs {
				width: 32px;
			}
		}
	}
	.social-list {
		margin-top: 6px;
	}
	@include more-than-sm {
		&__burger {
			display: none;
		}
	}
	@include sm-and-less {
		&__nav {
			.nav-list {
				display: none;
			}
		}
		&__actions {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.mobile-menu {
	align-items: center;
	background-image: linear-gradient(0deg, #F9F6F3 0%, #E7E4E1 100%);
	top: 100%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
	transition: height .6s;
	height: 0px;
	// transform: translateY(-120%);
	overflow: hidden;

	.nav-list {
		transition: opacity .3s;
		opacity: 0;
	}

	&.active {
		transform: translateY(0%);
		height: 54px;
		// @include xs {
		// 	height: 110px;
		// }
		.nav-list {
			opacity: 1;
		}
	
	}
	@include more-than-sm {
		display: none;
	}
}

.footer {
	background-color: var(--back-color);
	box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, .25);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	margin-top: 5rem;
	padding: 3rem 0;

	@include sm {
		gap: 1.5rem;
	}
	@include xs {
		gap: 1rem;
	}
	@include xxs {
		gap: .5rem;
	}

	.social-list {
		justify-content: center;
	}

	&__brand {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include sm {
			margin-top: 2rem;
		}
		@include xs {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			gap: 2rem;
			grid-template-columns: initial;
			justify-content: center;
			margin-top: 1.8rem;
		}
		@include xxs {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			gap: 2rem;
			grid-template-columns: initial;
			justify-content: center;
			margin-top: 1.6rem;
		}
	}
}
.focused-logo {
	text-align: center;
	.site-logo {
		width: 130px;
		@include md {
			width: 110px;
		}
		@include sm {
			width: 80px;
		}
		@include xs {
			width: 60px;
		}
		@include xxs {
			width: 40px;
		}
	}

	&__sign {
		text-transform: uppercase;
		margin-top: .75rem;
		font-size: 18px;
		@include md {
			font-size: 16px;
		}
		@include sm {
			font-size: 13px;
		}
		@include xs {
			font-size: 13px;
		}
		@include xxs {
			font-size: 12px;
		}
		small {
			font-size: 14px;
			@include md {
				font-size: 12px;
			}
			@include sm {
				font-size: 12px;
			}
			@include xs {
				font-size: 10px;
			}
			@include xxs {
				font-size: 10px;
			}
		}
	}
}

.created {
	align-self: self-end;
	display: flex;
	flex-direction: column;
	margin-bottom: 4px;
	width: 220px;
	@include md {
		width: 200px;
	}
	@include sm {
		width: 180px;
	}
	@include xs {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: initial;
		width: initial;
	}
	@include xxs {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: initial;
		width: initial;
	}

	&__img {
		width: 180px;
		opacity: .8;
		@include md {
			width: 200px;
		}
		@include sm {
			width: 130px;
		}
		@include xs {
			width: 110px;
		}
		@include xxs {
			width: 98px;
		}
	}
	&__link {
		font-size: 14px;
		line-height: 1.4em;
		margin-left: 15px;
		margin-top: 12px;
		max-width: 180px;
		text-decoration: underline;
		@include sm {
			font-size: 12px;
		}
		@include xs {
			margin: .75rem 0 0;
			max-width: initial;
			font-size: 12px;
		}
		@include xxs {
			margin: .75rem 0 0;
			max-width: initial;
			font-size: 10px;
		}
	}
}
.not-found {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	text-align: center;
}