@font-face {
	font-family: 'open-sans';
	src: url('/resources/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'montserrat';
	src: url('/resources/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}