$imgPath: '/resources/images/';

:root {
	--back-color: #FFF;
	--back-color-1: #FFFBEF;
	--dark-color: #161615;
	--light-color: #fff;
	--text-color: var(--dark-color);

	--light-grey-color: #ACACAC;

	--accent-font: 'montserrat', 'roboto', 'arial';
	--main-font: 'open-sans', 'roboto', 'arial';

	--header-height: 145px;

	@include md {
		--header-height: 100px;
	}
	@include sm-and-less {
		--header-height: 76px;
	}
	// @include xs {
	// 	--header-height: 60px;
	// }
}

*,
*::before,
*::after {
	background: none;
	border: initial;
	box-sizing: border-box;
	color: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: #96897b57;
}

html {
	scroll-behavior: smooth;
}