ul.social-list
	li
		a(target="_blank" title="Telegram" href="https://t.me/mayagovorit")
			img(src=imgPath + "icons/social/telegram.svg", alt="Telegram")
	li
		a(target="_blank" title="ВКонтакте" href="https://vk.com/maya_da_kotiki")
			img(src=imgPath + "icons/social/vk.svg", alt="ВКонтакте")
	li
		a(target="_blank" title="WhatsApp" href="https://wa.me/79998088026")
			img(src=imgPath + "icons/social/whatsapp.svg", alt="WhatsApp")