ul.social-list
	li
		a(title="Telegram" href="")
			img(src=imgPath + "icons/social/telegram.svg", alt="Telegram")
	li
		a(title="ВКонтакте" href="")
			img(src=imgPath + "icons/social/vk.svg", alt="ВКонтакте")
	li
		a(title="WhatsApp" href="")
			img(src=imgPath + "icons/social/whatsapp.svg", alt="WhatsApp")